
<script src="~/scripts/MCTR/JournalsInProcess.js"></script>

<section class="myAffix">
    <section id="breadCrumb"><a href=@Url.Action("buttonPalettebutRefreshWhenButtonPressed","MctrMainMenu")>Home</a> &gt;Admin Tables &gt; Journals In Process</section>
    <h4>Journals In Process Window</h4>
    <hr>
</section>

<section class="col-md-12 m-t-50 ">
    <table id="JrnlipGrid"></table>
    <div id="pager"></div>
</section>