
<script src="~/scripts/MCTR/ListWorkDeptFrom.js"></script>
<div id="warning-msg"></div>

@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Work Departments (From) Listing</h4>
</div>*@

    <section class="row form-group">
        <label class="col-md-1 control-label">Find</label>
        <section class="row no-gutter">
            <section class="col-md-10 mr-3">
                <input class="form-control" id="searchValue" @*value="@ViewData["deptID"]"*@ />
            </section>
            <button class="btn btn-group btn-xs" id="findBtn"><span class="glyphicon glyphicon-search font-15"></span></button>
        </section>
        <input type="hidden" id="rowId" value="@ViewData["rowID"]" />
    </section>
    <section class="row">
        <section class="col-md-12">
            <table id="ListWorkDeptFromGrid"></table>
            <div id="pager"></div>
        </section>
        <section class="col-md-12 m-t-5">
            <section class="align-right ">
                <button href="#" class="btn btn-group btn-XS" id="ListWorkDeptFromOkBtn" data-dismiss="modal">OK</button>
                <button href="#" data-dismiss="modal" class="btn btn-group btn-XS" id="ListWorkDeptcancelBtn">Cancel</button>
            </section>
        </section>
    </section>

