
@{
    ViewBag.Title = "MCTR Project Trans Type";
}

<script src="~/scripts/MCTR/TransType.js"></script>
@*<style type="text/css">
    input {
        text-transform: uppercase;
    }
</style>*@
<section class="myAffix">
    <section id="breadCrumb"><a href=@Url.Action("buttonPalettebutRefreshWhenButtonPressed","MctrMainMenu")>Home</a> &gt; Admin Tables  &gt; Trans Type/ Trans Code</section>
    <h4>MCTR Project Trans Type</h4>
    <hr>
</section>

<section class="col-md-12 m-t-50">
    <section id="dialog-box"></section>
    <section class="row">
        <table id="tblJQGrid"></table>
        <div id="pager"></div>
    </section>
</section>