<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>-->
  <entityFramework>
    <defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory, Oracle.ManagedDataAccess.EntityFramework"></defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
 
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
    
    <!--************* DEVELOPMENT ENVIRONMENT -START ************-->
    <!--<add name="MCTRDbEntities_Dev" connectionString="metadata=res://*/MCTRDbEntities.csdl|res://*/MCTRDbEntities.ssdl|res://*/MCTRDbEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ussedv8081grp.cs.boeing.com:1521/db0124d1.boeingdb;PASSWORD=Sachin237$;PERSIST SECURITY INFO=True;USER ID=UT191E&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MCTRDbEntities_Dev" connectionString="metadata=res://*/MCTRDbEntities.csdl|res://*/MCTRDbEntities.ssdl|res://*/MCTRDbEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.150.19.96:1521/XE;PASSWORD=MCTR;USER ID=MCTR_OWNER&quot;" providerName="System.Data.EntityClient"/>
    <!--************* DEVELOPMENT ENVIRONMENT -END ************-->
    
    <!--************* PRE ENVIRONMENT -START ************-->
    <add name="MCTRDbEntities_Pre" connectionString="metadata=res://*/MCTRDbEntities.csdl|res://*/MCTRDbEntities.ssdl|res://*/MCTRDbEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ussedv8081grpPRE.cs.boeing.com:1521/db0124d1.boeingdb;PASSWORD=Sachin237$;PERSIST SECURITY INFO=True;USER ID=UT191E&quot;" providerName="System.Data.EntityClient" />
    <!--************* PRE ENVIRONMENT -END ************-->
    
    <!--************* PRODUCTION ENVIRONMENT -START ************-->
    <add name="MCTRDbEntities_Prod" connectionString="metadata=res://*/MCTRDbEntities.csdl|res://*/MCTRDbEntities.ssdl|res://*/MCTRDbEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ussedv8081grpPROD.cs.boeing.com:1521/db0124d1.boeingdb;PASSWORD=Sachin237$;PERSIST SECURITY INFO=True;USER ID=UT191E&quot;" providerName="System.Data.EntityClient" />
    <!--************* PRODUCTION ENVIRONMENT -END ************-->
  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>