@model MCTR.DomainEntity.MctrIncrRates


<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/scripts/MCTR/IncrRates.js"></script>
<form id="myForm">
    <div class="modal-body container-fluid incr-modal-body">
        <section class="myAffix">
            <section id="breadCrumb"><a href=@Url.Action("buttonPalettebutRefreshWhenButtonPressed","MctrMainMenu")>Home</a> &gt; Admin Tables  &gt; Labor Rates - Prior Year</section>
            <h4>MCTR Incremental Rates</h4>
        </section>

        <section class="col-md-12 m-t-50 ">
            <section id="dialog-box"></section>
            <section class="row form-horizontal">
                <section class="col-md-offset-9 ">
                    <section class="form-group ">
                        <section class="col-md-4">
                            @*<input type="text" class="form-control" id="year" />*@
                            @Html.TextBoxFor(model => model.f_year, new { size = 8, @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.f_year)
                        </section>
                        <section class="col-md-2">
                            <button href="#" class="btn btn-primary btn-sm " id="dwnloadBtn">Download in Excel</button>
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <table id="tblJQGrid"></table>
                <div id="pager"></div>
            </section>
        </section>
    </div>

</form>






