
<script src="~/scripts/MCTR/BUProfile.js"></script>
<section class="myAffix">
    <section id="breadCrumb"><a href=@Url.Action("buttonPalettebutRefreshWhenButtonPressed","MctrMainMenu")>Home</a> &gt; Admin Tables  &gt; BU Profile</section>
    <h4>MCTR Bus Unit Profile</h4>
    <hr>
</section>

<section class="col-md-12 m-t-50 form-horizontal">
    <section class="row">
        <section id="dialog-box"></section>
        <table id="jGrid"></table>
        <div id="buPager"></div>
    </section>
    @*<section class="row align-right m-t-5">
        <button href="#" class="btn btn-primary btn-sm" id="Save-button"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Save</button>
    </section>*@
</section>

