
<script src="~/scripts/MCTR/Status.js"></script>
<style type="text/css">
   input {
  text-transform: uppercase;
  
}

</style>

<section class="myAffix">
    <section id="breadCrumb"><a href=@Url.Action("buttonPalettebutRefreshWhenButtonPressed","MctrMainMenu")>Home</a> &gt; Admin Tables  &gt; MCTR Status ID</section>
    <h4>MCTR Status ID</h4>
    <hr>
</section>

<section class="col-md-12 m-t-50">
    <section id="dialog-box"></section>
    <table id="tblJQGrid"></table>
    <div id="pager"></div>
    <!--<section class="row align-right ">
        <hr>
        <button href='#' class="btn btn-primary btn-sm" id="add-button">Add</button>
        <button href="#" class="btn btn-primary btn-sm" id="save-button">Save</button>
        <button href="#" class="btn btn-primary btn-sm" id="delete-button">Delete</button>
    </section>-->
</section>













