
<script src="~/scripts/MCTR/JournalHistRptFromDate.js"></script>
<script type="text/javascript" src="~/scripts/moment.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">From Journal Dates</h4>
</div>
<div class="modal-body">
    <section class="row form-group">
        <label class="col-md-1 control-label">Find</label>
        <section class="row no-gutter">
            <section class="col-md-10 mr-3">
                <input class="form-control" id="searchValue" />
            </section>
            <button class="btn btn-group btn-xs search-jq" id="findBtn"><span class="glyphicon glyphicon-search font-15"></span></button>
        </section>
    </section>
    <section class="row">
        <section class="col-md-12">
            <table id="jHDatesGrid"></table>
            <div id="pagerPopUp"></div>
        </section>
        <section class="col-md-12 m-t-5">
            <section class="align-right ">
                <button href="#" class="btn btn-group btn-XS" id="okBtn">OK</button>
                <button href="#" data-dismiss="modal" class="btn btn-group btn-XS" id="cancelBtn">Cancel</button>
            </section>
        </section>
    </section>
</div>
