
<script src="~/scripts/MCTR/JournalsInProcessPopup.js"></script>
<div class="modal-header">
    <button type="button" class="close" id="ttdClose" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Journals In Process Window</h4>
</div>
<div class="modal-body">
    <section class="row">
        <section class="col-md-12 table-responsive">

                <section class="row no-gutter">
                    <section class="col-md-3">
                        <table id="leftPanelGrid" width="50%" class="table table-condensed"></table>
                    </section>

                    <section class="col-md-9 overflow">
                        <section class="content">
                            <section>
                                <table id="rightPanelGrid" class="table table-condensed"></table>
                            </section>
                        </section>
                    </section>

            </section>

        </section>

    </section>

</div>